{% extends 'layouts/a.html' %}

{% load static %}

{% block content %}

{% include 'posts/post.html' %}

<div class="card !pb-0 -mt-3">
    <form action="{% url 'posts:sent_comment' post.id %}" method="POST" class="flex items-center p-4" autocomplete="off">
        {% csrf_token %}
        {{ commentform }}
        <button @click="open = false" class="block ml-2" type="submit">Отправить</button>
    </form>
</div>

{% if post.comments.count %}
<div class="mb-20">
    <div id="tabs" class="ml-4 flex gap-1 mb-4">
        <a class="tab selected">Самые новые</a>
        <a class="tab">Больше лайков</a>
    </div>

    <div id="tab-contents">
        {% for comment in post.comments.all %}
        {% include 'posts/comment.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}