{% load static %}
<hero class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('{% static 'images/bg7.jpg' %}')]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-24 px-10 ">
        <h1 class="font1 text-6xl title-fadein">Крутые фото и посты</h1>
        <p class="text-lg font-bold mb-5">Делись своими фото и впечатлениями</p>
        {% if not user.is_authenticated %}
        <a class="button" href="{% url 'users:registration' %}">Регистрация</a>
        {% endif %}
    </div>
</hero>
